<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'components/head.html' with title='KeyArena' %}    
    <link rel="stylesheet" href="{% static 'global/css/style_criartorneio.css' %}">
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="form-container">
      <h1>Crie seu torneio</h1>
      <form method="POST" action="{% url 'salvar_torneio2' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="start-date">Data de início do torneio</label>
          <input 
            type="date" 
            id="start-date" 
            name="start-date" 
            required
          />
        </div>
        <div class="form-group">
          <label for="registration-start">Data de início de inscrição</label>
          <input
            type="date"
            id="registration-start"
            name="registration-start"
            required
          />
        </div>
        <div class="form-group">
          <label for="registration-end">Data de fim de inscrição</label>
          <input 
            type="date" 
            id="registration-end" 
            name="registration-end"
            required
          />
        </div>
        <div class="button-group">
          <a href="criartorneio.html">
            <button type="button" onclick="history.back()">Voltar</button>
          </a>
          <button type="submit">Concluir</button>
        </div>
      </form>
    </div>
      
    <script
      src="https://kit.fontawesome.com/eb67357ef4.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
