<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %} {% include "components/head.html" %} {% endblock %}

    <title>KeyArena</title>
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="form-container">
      <h1>Crie seu torneio</h1>
      <form onsubmit="handleSubmit(event)">
        <div class="form-group">
          <label for="tournament-name">Nome do torneio</label>
          <input
            type="text"
            id="tournament-name"
            name="tournament-name"
            placeholder="Informe o nome do torneio"
          />
        </div>

        <div class="form-group">
          <label for="modality">Modalidade</label>
          <select id="modality" name="modality">
            <option value="Single Elimination">Single Elimination</option>
            <option value="Double Elimination">Double Elimination</option>
            <option value="Swiss">Swiss</option>
            <option value="RoundRobin">Round Robin</option>
          </select>
        </div>

        <div class="form-group">
          <label for="participants">Quantidade máx. de Participantes</label>
          <input
            type="number"
            id="tournament-max-player"
            name="tournament-max-player"
            placeholder="Informe o número máximo de Participantes"
            min="1"
            max="10000"
            style="width: 100%"
          />
        </div>

        <div class="form-group">
          <label for="description">Descrição</label>
          <textarea
            id="description"
            name="description"
            placeholder="Descrição do torneio"
          ></textarea>
        </div>
        <button type="submit">Próximo</button>
      </form>
    </div>

    {% include 'components/footer.html' %}
    <script>
      function handleSubmit(event) {
        event.preventDefault() // Impede o comportamento padrão de submissão

        // Aqui você pode fazer uma validação ou outra lógica

        window.location.href = "/criar1" // Redireciona para a próxima página
      }
    </script>

    <script
      src="https://kit.fontawesome.com/eb67357ef4.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
