<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'components/head.html' with title='KeyArena' %}
</head>


  <body>
    {% include 'components/navbar.html' %}
    <br>
    <br>
    <h1>Seja bem vindo, {{ usuario.usu_nome_completo }}!</h1>
    

    <main class="position-absolute top-50 start-50 translate-middle content">
      <div class="row">
      {% include 'components/button_home_page.html' with title='Cria Chaveamento de torneio?' text='Crie e genrencie seu próprio torneio' btn_text='Criar Torneio' url='/criar/' %}

      
      {% include 'components/button_home_page.html' with title='Participar de um torneio?' text='Participar de um torneio?' btn_text='Participar de torneio' url='/participar/' %}
      
      
      {% include 'components/button_home_page.html' with title='Meus Torneios' text='Veja os torneios criados por você ou suas inscrições' btn_text='Meus Torneios' url='/torneios/' %}
      

      </div>
      {% if messages %}
        <div id="message-container" class="pt-5">
          {% for message in messages %}
            <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
                 {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </main>

    {% include 'components/footer.html' %}

    <script>
      // Define um tempo (em milissegundos) após o qual a mensagem desaparecerá
      setTimeout(function() {
          // Seleciona o contêiner das mensagens e o esconde
          const messageContainer = document.getElementById('message-container');
          if (messageContainer) {
              messageContainer.style.display = 'none';
          }
      }, 5000); // 5000ms = 5 segundos
   </script>
   
    <script
      src="https://kit.fontawesome.com/eb67357ef4.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
