<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include 'components/head.html' with title='KeyArena' %}
</head>

<body>

    {% include 'components/navbar.html' %}
    <main class='content'>
        <div class="container1">
            <div class="table-container">
                <h1 class="text-center">Meus Torneios</h1>
                <div class="mb-3" style="width: 240px;">
                    <button id="troca" class="btn btn-success">Ver minhas inscrições</button>
                </div>
                <input type="text" id="filterInput" placeholder="Filtrar por nome ou modalidade"
                    class="form-control mb-3" style="width: 240px;">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Nome do Torneio</th>
                            <th>Modalidade</th>
                            <th>Participantes</th>
                            <th>Status</th>
                            <th>Data de Inicio</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="tournamentTable">
                        {% for torneio in torneios %}
                        <tr>
                            <td>{{ torneio.tor_nome_torneio }}</td>
                            <td>{{ torneio.tor_tipo_torneio.ttor_tipo }}</td>
                            <td>{{ torneio.tor_quant_participantes }}</td>
                            <td>
                                {% if torneio.tor_ativo %}
                                Ativo
                                {% else %}
                                Finalizado
                                {% endif %}
                            </td>
                            <td>{{ torneio.tor_data_inicio|date:"d/m/Y" }}</td>
                            <td>
                                <div class="d-flex justify-content-around pb-2">
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#descriptionModal{{ torneio.tor_id }}">
                                    Descrição
                                </button>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-around pb-2">
                                <a href="{% url 'chaveamento' torneio.tor_id %}?editable=true" class="btn btn-success" role="button">
                                    Chaveamento
                                </a>
                               </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-around pb-2">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ torneio.tor_id }}">
                                        Excluir
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <!-- Modal de Descrição -->
                        <div class="modal fade" id="descriptionModal{{ torneio.tor_id }}" tabindex="-1"
                            aria-labelledby="descriptionModal{{ torneio.tor_id }}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="descriptionModal{{ torneio.tor_id }}Label">Desistir
                                            do {{ torneio.tor_nome_torneio }}?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Descrição: {{ torneio.tor_descricao }}.<br>
                                        Data de início: {{ torneio.tor_data_inicio|date:"d/m/Y" }}.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal de Confirmação de Exclusão -->
                        <div class="modal fade" id="deleteModal{{ torneio.tor_id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ torneio.tor_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ torneio.tor_id }}">Confirmar Exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Você tem certeza que deseja excluir o torneio "{{ torneio.tor_nome_torneio }} {{ torneio.tor_id }}"?
                                    </div>
                                    <div class="modal-footer">
                                        
                                        <form action="{% url 'excluir_torneio' torneio.tor_id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Excluir</button>
                                        </form>
                                        
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-striped d-none" id="table2">
                    <thead>
                        <tr>
                            <!-- <th>ID da Inscrição</th> -->
                            <th>Nome do Torneio</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inscricao in inscricoes %}
                        <tr>
                            <!-- <td>{{ inscricao.ins_id }}</td> -->
                            <td>{{ inscricao.ins_tor_torneios.tor_nome_torneio }}</td>
                            <td>
                                {% if inscricao.ins_tor_torneios.tor_ativo %}
                                Ativo
                                {% else %}
                                Finalizado
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex justify-content-around pb-2">
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#inscriptionModal{{ inscricao.ins_id }}">
                                    Detalhes
                                </button>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-around pb-2">
                                <a href="{% url 'chaveamento' inscricao.ins_tor_torneios.tor_id %}?editable=false" class="btn btn-dark" role="button">
                                    Ver Chaveamento
                                </a>
                            </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-around pb-2">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#descriptionModal{{ inscricao.ins_tor_torneios.tor_id }}">
                                    Desistir do Torneio
                                </button>
                                </div>
                            </td>
                        </tr>
                        <!-- Modal de Detalhes de Inscrição -->
                        <div class="modal fade" id="inscriptionModal{{ inscricao.ins_id }}" tabindex="-1" aria-labelledby="inscriptionModal{{ inscricao.ins_id }}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="inscriptionModal{{ inscricao.ins_id }}Label">
                                            Detalhes sobre sua inscrição no torneio {{ inscricao.ins_tor_torneios.tor_nome_torneio }}
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <strong>Data de Inscrição:</strong> {{ inscricao.ins_data_inscricao|date:"d/m/Y" }}<br>
                                        <strong>Observações:</strong> {{ inscricao.ins_observacoes }}<br>
                                        <strong>Participante:</strong> {{ inscricao.ins_usu_participante.usu_nome_completo }}<br>
                                        <strong>Nome do Torneio:</strong> {{ inscricao.ins_tor_torneios.tor_nome_torneio }}<br>
                                        <strong>Modalidade:</strong> {{ inscricao.ins_tor_torneios.tor_tipo_torneio.ttor_tipo }}<br>
                                        <strong>Status do Torneio:</strong> {% if inscricao.ins_tor_torneios.tor_ativo %}Ativo{% else %}Finalizado{% endif %}<br>
                                        <strong>Data de Início do Torneio:</strong> {{ inscricao.ins_tor_torneios.tor_data_inicio|date:"d/m/Y" }}<br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}

    <script src="https://kit.fontawesome.com/eb67357ef4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script>
        document.getElementById('filterInput').addEventListener('keyup', function () {
            const filter = this.value.toLowerCase();
            const rows = document.querySelectorAll('#tournamentTable tr');

            rows.forEach(row => {
                const cells = row.getElementsByTagName('td');
                const nomeTorneio = cells[0].textContent.toLowerCase();
                const modalidade = cells[1].textContent.toLowerCase();

                if (nomeTorneio.includes(filter) || modalidade.includes(filter)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
        document.getElementById('troca').addEventListener('click', function () {
            const table1 = document.getElementById('table1');
            const table2 = document.getElementById('table2');
            const title = document.querySelector('h1');

            if (table1.classList.contains('d-none')) {
                table1.classList.remove('d-none');
                table2.classList.add('d-none');
                title.textContent = 'Meus Torneios';
                this.textContent = 'Ver minhas inscrições';

                // Mudar a classe do botão
                this.classList.remove('btn-dark'); // remove uma classe existente
                this.classList.add('btn-success'); // adiciona uma nova classe
            } else {
                table1.classList.add('d-none');
                table2.classList.remove('d-none');
                title.textContent = 'Minhas Inscrições';
                this.textContent = 'Ver meus torneios';

                // Mudar a classe do botão
                this.classList.remove('btn-success'); // remove uma classe existente
                this.classList.add('btn-dark'); // adiciona uma nova classe
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const showInscricoes = {{ show_inscricoes|yesno:"true,false" }};
            const table1 = document.getElementById('table1');
            const table2 = document.getElementById('table2');
            const title = document.querySelector('h1');
            const button = document.getElementById('troca');

            if (showInscricoes) {
                table1.classList.add('d-none');
                table2.classList.remove('d-none');
                title.textContent = 'Minhas Inscrições';
                button.textContent = 'Ver meus torneios';
                button.classList.remove('btn-success');
                button.classList.add('btn-dark');
            } else {
                table1.classList.remove('d-none');
                table2.classList.add('d-none');
                title.textContent = 'Meus Torneios';
                button.textContent = 'Ver minhas inscrições';
                button.classList.remove('btn-dark');
                button.classList.add('btn-success');
            }
        });
    </script>

</body>

</html>
