<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block head %} {% include "components/head.html" %} {% endblock %}
    <title>KeyArena</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>

    {% include 'components/navbar.html' %}

    <div class="container1">
        <div class="table-container">
            <h1 class="text-center">Torneios Existentes</h1>
            <div class="mb-3" style="width: 240px;">
                <button id="troca" class="btn btn-primary">Mostrar Tabela 2</button>
            </div>
            <input type="text" id="filterInput" placeholder="Filtrar por nome ou modalidade" class="form-control mb-3" style="width: 240px;">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Nome do Torneio</th>
                        <th>Modalidade</th>
                        <th>Participantes</th>
                        <th>Data de Início</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tournamentTable">
                    {% for torneio in torneios %}
                    <tr>
                        <td>{{ torneio.tor_nome_torneio }}</td>
                        <td>{{ torneio.tor_tipo_torneio.ttor_tipo }}</td>
                        <td>{{ torneio.tor_quant_participantes }}</td>
                        <td>{{ torneio.tor_data_inicio|date:"d/m/Y" }}</td>
                        <td>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#descriptionModal{{ torneio.tor_id }}">
                                Descrição
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-info">Ver Chaveamento</button>
                        </td>
                    </tr>
                    <div class="modal fade" id="descriptionModal{{ torneio.tor_id }}" tabindex="-1" aria-labelledby="descriptionModal{{ torneio.tor_id }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="descriptionModal{{ torneio.tor_id }}Label">Descrição do {{ torneio.tor_nome_torneio }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ torneio.tor_descricao }}. Data de início: {{ torneio.tor_data_inicio|date:"d/m/Y" }}.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-striped d-none" id="table2">
                <thead>
                    <tr>
                        <th>ID da Inscrição</th>
                        <th>Nome do Torneio</th>
                        <th>Data da Inscrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscricao in inscricoes %}
                    <tr>
                        <td>{{ inscricao.ins_id }}</td>
                        <td>{{ inscricao.ins_tor_torneios.tor_nome_torneio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'components/footer.html' %}

    <script src="https://kit.fontawesome.com/eb67357ef4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
    <script>
        // Filtro para a Tabela 1
        document.getElementById('filterInput').addEventListener('keyup', function() {
            const filter = this.value.toLowerCase();
            const rows = document.querySelectorAll('#tournamentTable tr');

            rows.forEach(row => {
                const cells = row.getElementsByTagName('td');
                const nomeTorneio = cells[0].textContent.toLowerCase();
                const modalidade = cells[1].textContent.toLowerCase();

                if (nomeTorneio.includes(filter) || modalidade.includes(filter)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
        document.getElementById('troca').addEventListener('click', function() {
            const table1 = document.getElementById('table1');
            const table2 = document.getElementById('table2');
            const title = document.querySelector('h1');

            if (table1.classList.contains('d-none')) {
                table1.classList.remove('d-none');
                table2.classList.add('d-none');
                title.textContent = 'Meus Torneios';
                this.textContent = 'Ver minhas inscrições'; // Atualiza o texto do botão
            } else {
                table1.classList.add('d-none');
                table2.classList.remove('d-none');
                title.textContent = 'Minhs Inscrições';
                this.textContent = 'Ver meus torneios'; // Atualiza o texto do botão
            }
        });
    </script>
</body>
</html>