{% load static %}
<style>
    /* Estilos personalizados para o menu */
    .nav-link {
        font-weight: 500; /* Aumenta a espessura da fonte */
        color: white; /* Cor do texto */
        transition: color 0.3s; /* Transição suave para a cor */
    }

    .nav-link:hover {
        color: #f8f9fa; /* Cor do texto ao passar o mouse */
        text-decoration: underline; /* Sublinha o texto ao passar o mouse */
    }
</style>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" onclick="location.href='/home_page/'">
            <i class="bi bi-key-fill m-2"></i>
            KeyArena
        </a>
        <div class="ms-auto">  <!-- Adicionando 'ms-auto' para alinhar à direita -->
            <ul class="navbar-nav d-flex flex-row">
                {% if request.user.is_authenticated %}
                    <li class="nav-item me-4"> <!-- Adicionando 'me-4' para espaçamento -->
                        <a class="nav-link" onclick="location.href='/home_page/'">Menu Principal</a>
                    </li>
                    <li class="nav-item me-4"> <!-- Adicionando 'me-4' para espaçamento -->
                        <a class="nav-link" onclick="location.href='/perfil'">Perfil</a>
                    </li>
                    <li class="nav-item me-4"> <!-- Adicionando 'me-4' para espaçamento -->
                        <a class="nav-link" href="#">Configurações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" data-bs-toggle="modal" data-bs-target="#exitModal">Sair do Sistema</a>
                    </li>
                {% else %}
                    <li class="nav-item me-4"> <!-- Adicionando 'me-4' para espaçamento -->
                        <a class="nav-link" onclick="location.href='/'">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="avatar ms-2">
            {% if request.user.is_authenticated %}
                {% if request.user.foto_perfil %}
                    <img src="{{ request.user.foto_perfil.url }}" alt="Foto de Perfil" class="img-thumbnail" style="width: 40px; height: 40px;">
                {% else %}
                    <img src="{% static 'images/default_avatar.png' %}" alt="Foto de Perfil Padrão" class="img-thumbnail" style="width: 40px; height: 40px;">
                {% endif %}
            {% else %}
                <img src="{% static 'images/default_avatar.png' %}" alt="Foto de Perfil Padrão" class="img-thumbnail" style="width: 40px; height: 40px;">
            {% endif %}
        </div>
    </div>
</nav>

<!-- Modal para confirmação de saída -->
<div class="modal fade" id="exitModal" tabindex="-1" aria-labelledby="exitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exitModalLabel">Confirmar Saída</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você realmente deseja sair do sistema?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger flex-fill me-2" href="/sair">Sair</a>
            </div>
        </div>
    </div>
</div>