<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppArena</title>
</head>
<body>
    <div id="cabecalho">
        <header class="cabecalho">
            <h1>Está vai ser a Home do App</h1>
        </header>
    
        <nav class="nav-bar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our team</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </nav>
    </div>
    
    <div id="conteudo-principal">
        <main>
            <p>Conteudo geral do site hahahahahaha</p>
        </main>
    </div>

    <div id="rodape">
        <footer>
            <p>©Copyright 2050 by nobody. All rights reversed.</p>
        </footer>
    </div>

</body>
</html>